/*
  - *: universal selector (to be applied on all elements of the page)
  - div, p, h1, etc.: type selector (select elements by their type)
  - a[href*="example.com"], etc: attribute selector (apply to all types with specified attribute)
  - .: class selector (refers to defined classes)
  - #: id selector (refers to defined ids)
  - descendant selector: separated by space (e.g.: div p selects all p inside div)
  - child selector: separated by > (e.g.: div > p selects all p at first level inside div)
  - adjacent sibling selector: separated by + (e.g. h1 + p selects first p after an h1)
  - general sibling selector: separated by ~ (e.g. h1 ~ p selects all p which are sibling of h1)
  - pseudo classes: connected with : (e.g. a:hover selects a link when it is hovered)
  - pseudo elements: connected with :: (e.g. h2::before selects content before an element: ::first-letter: selects first letter of an element)
  - grouping selector: separated by , (e.g. p, h1 selects all p and h1)
*/

@import "tailwindcss";

.login_label
{
    @apply block 
           uppercase 
           tracking-wide 
           text-gray-700 
           text-xs 
           font-bold 
           mb-2
    ;
}

.login_textfield
{
    @apply appearance-none 
           block 
           w-full 
           bg-gray-200 
           text-gray-700 
           border 
           border-gray-200 
           rounded 
           leading-tight 
           focus:outline-none 
           focus:bg-white 
           focus:border-gray-500
    ;
}

.login_button
{
    @apply bg-blue-500 
           hover:bg-blue-700 
           text-white 
           font-bold 
           rounded-full
           w-1/5 
           md:w-50
    ;
}
