/*
    - *: universal selector (to be applied on all elements of the page)
    - div, p, h1, etc.: type selector (select elements by their type)
    - a[href*="example.com"], etc: attribute selector (apply to all types with specified attribute)
    - .: class selector (refers to defined classes)
    - #: id selector (refers to defined ids)
    - descendant selector: separated by space (e.g.: div p selects all p inside div)
    - child selector: separated by > (e.g.: div > p selects all p at first level inside div)
    - adjacent sibling selector: separated by + (e.g. h1 + p selects first p after an h1)
    - general sibling selector: separated by ~ (e.g. h1 ~ p selects all p which are sibling of h1)
    - pseudo classes: connected with : (e.g. a:hover selects a link when it is hovered)
    - pseudo elements: connected with :: (e.g. h2::before selects content before an element: ::first-letter: selects first letter of an element)
    - grouping selector: separated by , (e.g. p, h1 selects all p and h1)
*/


html
{
    width: 100%;
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;
    
    margin: 0; /*Space around an element's border*/
    overflow: hidden;
    
    font-family: Arial, sans-serif;
    
    background-color: darkblue;
    color: white;
}

.hidden
{
    display: none;
}

.board
{
    width: 90%;
    height: 80%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: black;
}

.containerNameInput
{
    width: 90%;
    height: 80%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    
    background-color: black;
    
    z-index: 1;
}

.inputNameHeading
{
    width: 100%;
    
    position: absolute;
    top: 0;
    
    text-align: center;
}

.inputName
{
    width: 45%;
    height: 10%;
    
    position: absolute;
    top: 0;
    
    border: solid 1px;
    border-radius: 5px;
}

.inputNameLeft
{
    left: 0;
}

.inputNameRight
{
    right: 0;
}

.btnSubmitName:hover
{
    background-color: #45a049;
}

.formNames
{
    width: 90%;
    height: 70%;
    
    position: absolute;
    left: 50%;
    top: 20%;
    
    transform: translate(-50%, -5%);
}

.btnSubmitName
{
    width: 30%;
    height: 15%;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.containerGame
{

}

.middleline
{
    width: 1px;
    height: 100%;
    
    position: absolute;
    left: 50%;
    
    background-color: white;
}

.hor_line
{
    width: 100%;
    height: 1px;
    
    position: absolute;
    top: 50%;
    
    background-color: white;
}

.paddle
{
    width: 0.3%;
    height: 15%;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.paddle_left
{
    left: 0;
    background-color: cyan;
}

.paddle_right
{
    right: 0;
    background-color: yellow;
}

.ball
{
    width: 3%;
    padding-top: 3%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 50%;
}

.msg
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    text-align: center;
    color: red;
    
    border: dotted 2px red;
}

.msg_start
{
    height: 20%;
    width: 75%;
    
    top: 25%;
    
    font-size: 40px;
}

.msg_pressSpace
{
    height: 10%;
    width: 75%;
    
    top: 75%;
    
    font-size: 25px;
}

.scores
{
    width: 90%;
    height: 7%;
    
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 40px;
}

.score_name
{
    height: 100%;
    width: 47%;
    
    position: absolute;
    top: 0;
}

.score_name_left
{
    left: 0;
}

.score_name_right
{
    right: 0;
}

.score
{
    height: 100%;
    width: 20%;
    
    position: absolute;
    top: 0;
}

.score_left
{
    left: 0;
    text-align: left;
    color: cyan;
}

.score_right
{
    right: 0;
    text-align: right;
    color: yellow;
}

.name
{
    height: 100%;
    width: 80%;
    
    position: absolute;
    top: 0;
} 

.name_left
{
    right: 0;
    text-align: left;
    color: cyan;
}

.name_right
{
    left: 0;
    text-align: right;
    color: yellow;
}

.score_separator
{
    height: 100%;
    width: 6%;
    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    text-align: center;
}
