.containerAccountButtons
{
    width: 90%;
    height: 25%;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: black;
    
    z-index: 1;
}

.btnAccount
{
    width: 27%;
    height: 23.1%;

    position: absolute;
    top: 20%;

    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnCreateAccount
{
    background-color: #34bcdf;
    color: black;
    left: 16%;
}

.btnCreateAccount:hover
{
    background-color: #207a91;
}

.btnLogin
{
    left: 59%;
    background-color: #232fd8;
    color: white;
}

.btnLogin:hover
{
    background-color: #101455;
}







.containerNameInput
{
    width: 90%;
    height: 55%;
    
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: black;
    
    z-index: 1;
}

.inputNameHeading
{
    width: 100%;
    
    position: absolute;
    top: 0;
    
    text-align: center;
}

.inputName
{
    width: 45%;
    height: 10%;
    
    position: absolute;
    top: 0;
    
    border: solid 1px;
    border-radius: 5px;
}

.inputNameLeft
{
    left: 0;
}

.inputNameRight
{
    right: 0;
}

.formNames
{
    width: 90%;
    height: 70%;
    
    position: absolute;
    left: 50%;
    top: 20%;
    
    transform: translate(-50%, -5%);
}

.btnSubmitName
{
    width: 30%;
    height: 15%;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnSubmitName:hover
{
    background-color: #45a049;
}